body{
    padding: 0;
    margin: 0;
    height: 1500px;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    .container-todo {
        position: relative;
      
        .todo-container {
            padding:10px;
            margin:0 auto;
            width: 380px;
            height:200px;
            background-image: url('../img/bg2.jpg');
            background-size: 100% 235%;
            background-repeat: no-repeat;
            border-radius: 15px 15px 0 0;
            position: relative;
            margin-top: 30px;
            @media (max-width: 1200px) {
                width: 300px;
            }
        }

        .clear{
            width : 30px;
            height: 30px;
            position: absolute;
            right:20px;
            top: 20px;
        }
        .clear i{
            font-size: 30px;
            color: #FFF;
        }
        .clear i:hover{
            cursor: pointer;
            text-shadow: 1px 3px 5px #000;
            transform: rotate(45deg);
        }
        #date{
            position: absolute;
            bottom: 10px;
            left: 25px;
            color: #FFF;
            font-size: 25px;
            font-family: 'Titillium Web', sans-serif;
        }

        
        .content{
            width:380px;
            height: 350px;
            max-height:350px;
            background-color: #FFF;
            overflow: auto;
            padding:10px;
            margin:0 auto;
            overflow-y: scroll;
            overflow-x: hidden;
            @media (max-width: 1200px) {
                width: 300px;
            }
        }

        .content ul{
            padding:0;
            margin:0;
        }

        input:focus {
            outline: none;
        }

        .item {
            width:380px;
            height: 45px;
            min-height: 45px;
            position: relative;
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            list-style: none;
            margin: 0;
            padding-bottom: 5px;
        }
        .item i.co{
            position: absolute;
            font-size: 25px;
            padding-left: 15px;
            top: 10px;
        }
        .item i.co:hover{
            cursor: pointer;
        }

        .fa-check-circle{
            color:#6eb200;
        }
        .item p.text{
            position: absolute;
            padding:0;
            margin:0;
            font-size: 20px;
            left:70px;
            top:11px;
            background-color: #FFF;
            max-width:285px;
        }
        .lineThrough{
            text-decoration: line-through;
            color : #ccc;
        }
        .item i.de{
            position: absolute;
            font-size: 25px;
            right: 50px;
            top:10px;

            @media (max-width: 1200px) {
                right: 130px;
            }
        }
        .item i.de:hover{
            color:#af0000;
            cursor: pointer;
        }
        /* ------------ add item ------------ */
        .add-to-do{
            position: relative;
            height:65px;
            background-color: #FFF;
            border-top: 1px solid rgba(0,0,0,0.1);
            padding:10px;
            width:380px;
            margin:0 auto;
            border-radius: 0 0 15px 15px; 
            @media (max-width: 1200px) {
                width: 300px;
            }
        }
        .add-to-do i{
            position: absolute;
            font-size: 40px;
            /* color: #4162f6; */
            color: #672665;
        }

        .add-to-do input{
            position: absolute;
            left: 50px;
            width: 310px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            padding-left:10px;
            padding: 10px;
            bottom: 7px;
            border-radius: 5px;
            color: navy;
            opacity: 55%;
        }

        .add-to-do input::placeholder {
            position: relative;
            font-size: 18px;
            top: 2px;
            color: navy;
            opacity: 50%;
        }
    }
}
